--ip-address=192.168.1.150
--no-ntp
--realm=UBERCORE.LOCAL
--domain=ubercore.local
--ds-password=password
--admin-password=password
--setup-dns
--forwarder=8.8.8.8
--forwarder=8.8.4.4
--no-reverse
--unattended
